.order-form-layout {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    min-height    : 80vh;
    position      : relative;
}

.order-form-layout::before {
    position         : absolute;
    content          : '';
    width            : 30%;
    height           : 40%;
    background       : url('https://www.seekpng.com/png/full/127-1273182_graphic-freeuse-download-coffee-tree-drawing-at-getdrawings.png');
    background-repeat: no-repeat;
    background-size  : cover;
    z-index          : 0;
    right            : -5rem;
    opacity          : .5;
}

.order-form {
    width          : 20rem;
    height         : 100%;
    padding        : 1rem 5rem;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-evenly;
    margin         : 5rem;
    position       : relative;
    background     : rgba(255, 255, 255, 0.5);
}

.order-form-price {
    margin    : 0;
    font-style: italic;
}

.order-form-input {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    position      : relative;
    margin        : 1rem 0;
    width         : 100%;
}

.order-form-image {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.order-form-image img {
    height: 100%;
    width : 250px;
}

.order-form-container {
    width     : 100%;
    position  : relative;
    margin-top: 10px;
}

.order-form-container .submit {
    font-size       : 24px;
    font-weight     : bold;
    background-color: rgb(168, 219, 168);
    border-radius   : 4px;
    border          : 1px solid lightgray;
    width           : 10rem;
    height          : 3rem;
}

.order-form-container .submit:hover {
    background: rgb(105, 168, 105);
}

.order-form-container span {
    margin-left: 10px;
}

.order-form-container input {
    width : 95%;
    height: 1em;
}

.order-form-container .payment {
    width : 5rem;
    height: 1.5em;
}

.order-form-container label {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    margin        : 1rem 0 2rem 0;
}

.order-form-container .quantity-label {
    position        : absolute;
    text-transform  : uppercase;
    top             : 2px;
    left            : 2px;
    font-weight     : bold;
    background-color: rgb(224, 241, 224);
    width           : 85%;
    padding         : 0 15px;
    color           : gray;
    margin          : 0;
}

.order-form-container .quantity {
    padding         : 1.5rem .5rem .5rem .5rem;
    font-size       : 16px;
    font-weight     : bold;
    background-color: rgb(224, 241, 224);
    border-radius   : 4px;
    border          : 1px solid lightgray
}


/* SELECT */

.order-form-container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    position      : relative;
}

.order-form-select h3 {
    margin: 1rem 0 0 0;
}

.order-form-select-wrapper {
    position     : relative;
    display      : flex;
    width        : 20em;
    height       : 3em;
    border-radius: .25em;
    overflow     : hidden;
    box-shadow   : 0 0 1em 0 rgba(0, 0, 0, 0.2);
    margin       : 1rem 0 2rem 0;
}

.order-form-select-wrapper::after {
    content         : '\25BC';
    position        : absolute;
    top             : -5px;
    right           : 0;
    padding         : 1em;
    background-color: rgba(168, 219, 168, 1);
    transition      : .25s all ease;
    pointer-events  : none;
}

.order-form-select-wrapper:hover::after {
    color: rgb(105, 168, 105);
}

.order-form-select-wrapper select {
    appearance      : none;
    outline         : 0;
    border          : 0;
    flex            : 1;
    padding         : 0 2em;
    color           : black;
    font-weight     : bold;
    background      : rgba(255, 255, 255, 0.2);
    background-image: none;
    cursor          : pointer;
}

.order-form-select-wrapper option {
    color     : inherit;
    background: rgba(255, 255, 255, 0.3);
}