.about-us {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    position      : relative;
}

.about-us-wrapper {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 80%;
}

.about-us-coffee-shop>img {
    width : 100%;
    height: 100%;
}

.about-us-coffee-shop {
    width : 50rem;
    height: 30rem;
    z-index: 999;
}

.about-us::before {
    content            : '';
    background         : url('https://www.seekpng.com/png/full/127-1273182_graphic-freeuse-download-coffee-tree-drawing-at-getdrawings.png');
    background-repeat  : no-repeat;
    background-position: center top;
    opacity            : .5;
    position           : absolute;
    height             : 25rem;
    width              : 31rem;
    right              : -15rem;
    top                : 0;
}


@media all and (max-width: 1000px) {
    .about-us-coffee-shop {
        width : 30rem;
        height: 20rem;
    }
}

@media all and (max-width: 550px) {
    .about-us-coffee-shop {
        width : 20rem;
        height: 15rem;
    }
}