.profile-layout {
    height        : 100%;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.profile-container-section {
    display       : flex;
    height        : 100%;
    width         : 100%;
    flex-direction: column;
    align-items   : center;
    position      : relative;
}

.profile-wrapper {
    height                    : 100%;
    width                     : 85%;
    background                : white;
    border-bottom-left-radius : 25px;
    border-bottom-right-radius: 25px;
    display                   : flex;
    flex-direction            : column;
    align-items               : center;
    box-shadow                : 0 0 10px gray;
}



@media all and (min-width: 1800px) {
    .profile-wrapper {
        height: 100%;
    }

    .profile-container {
        height: 100vh;
    }
}